// All constant value for css properties, will be added here.
$zero: 0;
$body-bg: #f5f7f9;

$primary: #0a233f;
$secondary: #2f9d9f;

$primary-text: #4f565c;
$secondary-text: #9ca7b1;

$white-color: #ffffff;
$gray: #e8ebed;

$loader-shadow: rgba(0, 0, 0, 0.161);
